
* {
   background-color: rgb(247, 247, 248);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
        border-radius: 180px;
}

hi {
    margin: 2px; 

}

section {
        float: right;
        width: 60%;
        position: relative;
        margin-left: 2px;
        padding-left: 0px;
       
      /*  margin-inline-end: 60px; */
}

aside {
    background-color: blue;
    background: skyblue;
    color: black;
    width: 30%;
    position: relative;
    float: left;
    padding-left: 10px;
    padding-top: 80px;
    margin-top:0px;
    padding-bottom: 2200px;
   /* margin-inline: 60px;*/
    

}

.listprof {
background: skyblue;
/*margin-inline: 2px;*/
}

.prof {
   background: skyblue;
   padding-bottom: 0px;
   margin-bottom: -1px;
}

.cont {
    background: skyblue;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.add {
background: skyblue;
}

.hob {
background: skyblue;
margin-bottom: -4px;
padding-bottom: 0px;
}
#hobs {
    background: skyblue;
}

#lihobs {
    background: skyblue;
}

#emm{
   background: skyblue;
}

#fone {
    background: skyblue;
}
#addr {
    background: skyblue;
}
#skil {
/*margin: 2px;*/
}

#und-name {
  /*  margin-bottom: 2px;
    margin-top: 3px;*/
}
#ex{
margin: 2px;
}

#sum {
   /* margin-bottom: 1px; */
}

header {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
}

hr{
   border: 1px solid black;
   margin-top: 0px;
   margin-bottom: 1px;
}